<header id="navbar-main">
  <div class="first-nav">
    <ul class="flex-start">
      <li>
        <i class="fa-solid fa-bars fa-2xl"></i>
      </li>
      <li>
        <a href="#"><img src="assets/Image/logo.png" alt="Image description" class="logo-img"></a>
      </li>
    </ul>
    <ul class="flex-center">
      <li>
        <input type="text" placeholder="Search Here!">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>

      </li>
    </ul>
    <ul class="flex-end">
      <li>

        <div class="contact-main-container" #contactInfo>
          <div class="contactInfo-container">
            <div class="contactInfo-content" (click)="toggleClickEvent('contactInfo_flyout')">
              <span class="contactInfo-btn"><i class="fa-solid fa-phone fa-lg"></i></span>
            </div>
            <div class="contactInfo-flyout-container" [ngClass]="{'contactInfo-visible': isContactFlyOut}">
              <div class="contactInfo-btn-pointer"><i class="fa-solid fa-caret-up fa-xl"></i></div>
              <div class="contactInfo-flyout-content">
                <p id="">Welcome</p>
                <strong>Contact Us &#64; +91 8906664868</strong>
                <strong>Contact Us &#64; +91 9046293740</strong>
                <hr>
              </div>
            </div>
          </div>
        </div>


        <div class="login-main-container" #loginInfo>
          <!-- <div class="login-container">
            <div class="loginn-content" (click)="toggleClickEvent('login_flyout')">
              <span class="btn-login"><i class="fa-regular fa-user fa-lg"></i>
                <ng-container *ngIf="isLoginn"> {{email}} </ng-container>
              </span>
            </div>
            <div class="flyout-container" [ngClass]="{'visible': isFlyOut}">
              <div class="log-btn-pointer"><i class="fa-solid fa-caret-up fa-xl"></i></div>
              <div class="flyout-content">
                <p id="">Welcome</p>
                <strong>{{welcomeUser}}</strong>
                <hr>
                <button (click)="toggleClickEvent('login')">{{ isLoginn ? 'Logout' : 'Login' }}</button>
              </div>
            </div>
          </div> -->
        </div>
      </li>
    </ul>
  </div>
  <div class="sub-nav">
     </div>
</header>