input,
select,
button {
  width: auto;
  height: 100%;
  outline: none;
}

li {
  height: 52px;
  margin: 5px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#navbar-main {
  border: solid hsla(0, 0%, 22%, 0.575) 0.5px;
}

/* Navbar Styles */
/* Navbar Styles */
/* Navbar Styles */
.first-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 0px;
  background-color: rgb(250, 246, 237);
}

/* Sub Navbar Styles */
/* Sub Navbar Styles */
/* Sub Navbar Styles */
.sub-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0px;
  background-color: rgb(250, 246, 237);
}

.sub-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-nav li {
  margin-right: 20px;
}

.sub-nav li:last-child {
  margin-right: 0;
}

.sub-nav li span {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.sub-nav li span:hover {
  background-color: #ffffff;
  border: solid hsla(123, 96%, 33%, 0.301) 0.5px;
}

.rotated {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.sub-nav.ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* Flex Containers */
/* Flex Containers */
/* Flex Containers */
.flex-start,
.flex-center,
.flex-end {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start{
  min-height: 80px;
  flex: 1 1 30%;
}

.flex-end {
  flex: 1 1 20%;
}

.flex-center {
  flex: 1 1 40%;
}

/* Child Flex of .flex-start */
/* Child Flex of .flex-start */
/* Child Flex of .flex-start */
.flex-start > li:nth-child(1) {
  display: flex;
  width: 10%;
}

.flex-start > li:nth-child(2) {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.flex-start > li:nth-child(2):hover {
  /* zoom: 120%; */
  filter: brightness(110%);
  cursor: pointer;
}

.flex-start > li:nth-child(1):hover,
#btn-login:hover {
  cursor: pointer;
  border: solid hwb(123 1% 35% / 0.575) 0.5px;
  background-color: #ffffff;
}

.logo-img{
  
  width: 150px;
  /* filter: hue-rotate(170deg); */
  
}

/* Child Flex of .flex-center */
/* Child Flex of .flex-center */
/* Child Flex of .flex-center */
.flex-center > li:nth-child(1) {
  position: relative;
  display: flex;
  width: 100%;
  gap: 0px;
  font-size: 0.8rem;
  border-radius: 50px;
}

.flex-center > li:nth-child(1) > input {
  width: 100%;
  padding: 10px;
  border: transparent;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  border: 0.5px solid #e4d9d9;
  border-radius: 50px;
}

.flex-center > li:nth-child(1) > button {
  position: absolute;
  height: 44px;
  width: 44px;
  right: 4px;
  border: transparent;
  background-color: #f9b117;
  border-radius: 50px;
}

.flex-center > li:nth-child(1) > input:hover {
  cursor: pointer;
  border: solid hsla(123, 96%, 33%, 0.575) 0.5px;
  background-color: #ffffff;
}

.flex-center > li:nth-child(1) > button:hover {
  cursor: pointer;
  border: solid hsla(123, 96%, 33%, 0.575) 0.5px;
  background-color: #ffffff;
}

/* contactInfo Flyout Styles*/
/* contactInfo Flyout Styles*/
/* contactInfo Flyout Styles*/
.contactInfo-container {
  display: flex;
  width: auto;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
}

.contactInfo-content {
  position: relative;
  display: flex;
  height: 44px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.contactInfo-content:hover {
  cursor: pointer;
}

.contactInfo-btn {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
  background-color: rgb(235, 235, 235);
  margin: 0;
  padding: 0;
}

.contactInfo-btn > i {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #f9b117;
}

/* flyout-container styles */

.contactInfo-flyout-container {
  position: absolute;
  top: 58px;
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8%;
  /* border: solid hsla(203, 11%, 32%, 0.233) 0.5px; */
  gap: 10px; 
  right: 5px;
}

.contactInfo-btn-pointer {
  position: absolute;
  top: 1px;
  display: flex;
  flex-wrap: nowrap;
  right:43px;
  color: #ffffff;
}

.contactInfo-flyout-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
  height: 250px;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
  border-radius: 8%;
}

.contactInfo-flyout-content p,
.contactInfo-flyout-content strong,
.contactInfo-flyout-content button {
  margin: 5px 0; 
}

.contactInfo-flyout-content > hr {
  width: 100%;
  margin: 5px 0;
}

.contactInfo-flyout-content > button {
  width: 80px;
  height: 30px;
  background-color: darkgreen;
  color: #ffffff;
  outline: none;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
}
.contactInfo-btn:hover{
  cursor: pointer;
  border: solid hsla(123, 96%, 33%, 0.575) 0.5px;
  background-color: #ffffff;
}
.contactInfo-visible {
  display: flex;
}

/* Login Flyout Styles*/
/* Login Flyout Styles*/
/* Login Flyout Styles*/
.login-container {
  display: flex;
  width: auto;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
}

.loginn-content {
  position: relative;
  display: flex;
  height: 44px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.loginn-content:hover {
  cursor: pointer;
}

.btn-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
  background-color: rgb(235, 235, 235);
  margin: 0;
  padding: 0;
}

.btn-login > i {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #f9b117;
}

/* flyout-container styles */

.flyout-container {
  position: absolute;
  top: 58px;
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8%;
  /* border: solid hsla(203, 11%, 32%, 0.233) 0.5px; */
  gap: 10px; 
}

.log-btn-pointer {
  position: absolute;
  top: -1px;
  display: flex;
  flex-wrap: nowrap;
  right: 15px;
  color: #ffffff;}

.flyout-content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 300px;
  height: 250px;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
  border-radius: 8%;
}

.flyout-content p,
.flyout-content strong,
.flyout-content button {
  margin: 5px 0; 
}

.flyout-content > hr {
  width: 100%;
  margin: 5px 0;
}

.flyout-content > button {
  width: 80px;
  height: 30px;
  background-color: darkgreen;
  color: #ffffff;
  outline: none;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
}
.btn-login:hover{
  cursor: pointer;
  border: solid hsla(123, 96%, 33%, 0.575) 0.5px;
  background-color: #ffffff;
}
.visible {
  display: flex;
}

/* Child Flex of .flex-end */
/* Child Flex of .flex-end */
/* Child Flex of .flex-end */
.flex-end > li:nth-child(1) {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: flex-end;
  width: 55px;
  height: 44px;
  gap: 25px;
  text-align: center;
}

.flex-end > li:nth-child(1) > span {
  position: relative;
  display: inline-block;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: solid hsla(203, 11%, 32%, 0.233) 0.5px;
  background-color: rgb(235, 235, 235);
}

.flex-end > li:nth-child(1) > span > i {
  position: absolute;
  top: 13px;
  right: 13px;
  color: rgb(250, 142, 0);
}
.flex-end > li:nth-child(1) > span:hover {
  cursor: pointer;
  border: solid hsla(123, 96%, 33%, 0.575) 0.5px;
  background-color: #ffffff;
}

/* Sub-Nav Menue Items Styles Design */
/* Sub-Nav Menue Items Styles Design */
/* Sub-Nav Menue Items Styles Design */
.holi-menue{
  display: flex; 
  width: 250px;
  height: 300px;
  flex-wrap: nowrap; 
  flex-direction: column; 
  margin: 0; 
  padding: 0; 
  z-index: 200; 
  background-color: antiquewhite;
        
}

/* Responsive Design */
/* Responsive Design */
/* Responsive Design */
@media screen and (max-width: 768px) {
  .flex-center {
    order: 3;
  }

  .flex-end {
    order: 2;
  }
}
.imageee {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 550px;
  background-size: cover; /* Optional: Adjust the background size */
  background-position: center; /* Optional: Adjust the background position */
}