<div class="main-container">
<div class="login-container">
    <h1>Login</h1>
    <form [formGroup]="loginform" (ngSubmit)="loginn()">
      <div class="form-group">
        <label for="email">Enter User Name</label>
        <input type="text" formControlName="email" id="username" name="email"  required>
    </div>
    <div class="form-group">
        <label for="password">Enter password</label>
        <input type="password" formControlName="password" id="password" name="password"  required>
    </div>
    <div class="form-group">
        <button type="submit">Login</button>
    </div>
</form>
</div>
</div>
